@font-face {
  font-family: "Futura Md BT";
  src: url("../fonts/FutuMd.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: rgba(0, 0, 0, 1) !important;
  overflow-x: hidden !important;
  color: #ffffff;
}

.logo-img{
    max-width:166px;
}

.learn-more a {
  font-family: Jost;
  font-size: 1.04em;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.055em;
  color: rgba(255, 249, 246, 1);
  padding-right: 30px;
}

.learn-more a:hover{
    color:rgba(242, 109, 53, 1);

}
.top-image {
  margin: 77px auto 0px auto;
  position: relative;
  max-width: 1190px;
}

.top-image img {
  max-width: 100%;
}

.btn {
  border-radius: 21px !important;
  padding: 10px 28px !important;
  border: 1.5px solid #ffffff !important;
}



.book .btn {
  font-family: Jost;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.105em;
  text-align: center;
  background: #f26d35;
  border: none !important;
}

.book .btn:hover {
  transform: scale(1.04);
  transition: 0.3s ease-out;
}

.watch .btn:hover {
  transform: scale(1.04);
  transition: 0.3s ease-out;
}

.watch {
  position: absolute;
  bottom: 48px;
  left: 140px;
}

.book {
  position: absolute;
  bottom: 48px;
  right: 140px;
}

.book p {
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  font-size: 19.68px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #eeeeee;
}

.contain {
  max-width: 850px;
  margin: auto;
}

.art {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 136%;
  letter-spacing: 0.085em;
  color: #ffffff;
  padding-top: 73px;
}

.info-buttons {
  margin-top: 34px;
}

.info-btn {
  font-family: Jost;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.165em;
  color: #ffffff;
  background: rgba(181, 185, 202, 0.17);
  border-radius: 30px;
  padding: 12px 20px !important;
  border: none;
  margin-right:12px;
}

.summary {
  font-family: Jost;
  font-size: 23px;
  line-height: 192%;
  display: flex;
  letter-spacing: 0.055em;
  color: #ffffff;
  margin-top: 72px;
}

.learn {
  font-family: Jost;
  font-weight: bold;
  font-size: 30px;
  line-height: 62.37%;
  letter-spacing: 0.055em;
  color: #ffffff;
  margin-top: 100px;
}

.video-sections {
  color: #ffffff;
}

.accordion {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  background-color: #ffffff00 !important;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.arrow-down {
  transform: rotate(90deg);
  display: inline-block;
}

.expand-block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.trigger {
  height: 104px;
  padding: 0px 41px;
}

.trigger p {
  display: inline-block;
  margin: 0;
}

.duration {
  display: inline-block;
  margin-left: auto !important;
}

.card-body {
  background-color: #ffffff00 !important;
}

.start {
  font-family: Jost;
  font-size: 71px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.055em;
  text-align: center;
  color: #ffffff;
  margin-top: 200px;
}

.book-class {
  background: rgba(242, 109, 53, 1) !important;
  font-family: Jost;
  font-size: 18px;
  font-weight: 500 !important;
  letter-spacing: 0.055em;
  border-radius: 12px !important;
  padding: 10px 28px !important;
  border: none;
  margin-top: 27px;
}

.book-class:hover {
  transform: scale(1.04);
  transition: 0.3s ease-out;
}

.similar img {
  display: inline-block;
}

.similar {
  color: #ffffff;
  font-family: Jost;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0.055em;
  text-align: center;
  margin-top: 127px;
}

.similar a {
  text-decoration: none;
  color: white;
}

.similar a:hover {
  color: rgba(242, 109, 53, 1);
}

.footer {
  padding: 22px 80px 120px 80px;
  margin-top: 87px;
  border-top: 0.8px solid #ffffff;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style: none;
}

.footer a {
  color: white;
  text-decoration: none;
}

.mid-footer li {
  padding: 0px 20px;
}

.footer ul li a:hover {
  color: rgba(242, 109, 53, 1);
}

@media (max-width: 1280px) {
  .start {
    font-size: 6vw;
  }

  .contain {
    padding: 0px 30px;
  }
}

@media (max-width: 768px) {
  .btn {
    border-radius: 15px !important;
    padding: 10px 28px !important;
    border: 1.5px solid #ffffff !important;
  }

  .book .btn {
    transform: scale(0.7);
  }

  .book .btn:hover {
    transform: scale(0.75);
    transition: 0.3s ease-out;
  }
  .book p {
    margin-bottom: 0px;
    transform: scale(0.7);
  }

  .art {
    padding-top: 30px;
  }

  .watch .btn {
    transform: scale(0.6);
  }

  .watch .btn:hover {
    transform: scale(0.65);
    transition: 0.3s ease-out;
  }

  .info-btn {
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.165em;
    padding: 12px 20px !important;
    border: none;
  }

  .watch {
    position: absolute;
    bottom: 30px !important;
    left: 30px;
  }

  .book {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .top-image {
    margin-top: 10px;
  }

  .summary {
    margin-top: 22px;
  }

  .accordion {
    margin-top: 35px;
  }

  .similar {
    margin-top: 60px;
  }

  .footer {
    padding: 0px 5px;
    font-size: 2.3vw;
  }

  .mid-footer li {
    padding: 0px 10px;
  }

  .footer li a:hover {
    color: white;
  }
}

@media (max-width: 576px) {
  .btn {
    border-radius: 15px !important;
    padding: 10px 28px !important;
    border: 1.5px solid #ffffff !important;
  }

  
  .book p {
    margin-bottom: 0px;
    transform: scale(0.7);
  }
 

  .info-buttons {
    margin: 19px 0px;
  }

  .info-btn {
      width:35vw;
      font-size:55%;
      margin-right:1%;
      padding:9px 1px !important;
  }

  .watch {
    position: absolute;
    bottom: 8px !important;
    left: 5px;
  }

  .book {
    position: absolute;
    bottom: 8px;
    right: 5px;
  }

  .art {
    font-size: 18px;
  }

  .summary {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.055em;
  }
  .learn {
    margin-top: 73px;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.055em;
  }

  .accordion {
    font-size: 11px;
  }

  .trigger {
    height: 54px;
    padding: 0px 17px;
  }

  .total {
    font-size: 13px;
  }

  .start {
    font-family: Jost;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.055em;
    text-align: center;
    color: #ffffff;
    margin-top: 80px;
  }

  .footer{
  }
}
